:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(121 100% 1%);
  --bg: hsl(118 89% 3%);
  --bg-light: hsl(115 58% 7%);
  --text: hsl(113 100% 90%);
  --text-muted: hsl(114 30% 65%);
  --highlight: hsl(114 28% 34%);
  --border: hsl(115 40% 23%);
  --border-muted: hsl(116 77% 12%);
  --primary: hsl(114 33% 64%);
  --secondary: hsl(292 43% 73%);
  --danger: hsl(9 47% 65%);
  --warning: hsl(51 32% 52%);
  --success: hsl(149 31% 55%);
  --info: hsl(217 52% 67%);
  /* oklch */
  --bg-dark: oklch(0.1 0.045 142);
  --bg: oklch(0.15 0.045 142);
  --bg-light: oklch(0.2 0.045 142);
  --text: oklch(0.96 0.09 142);
  --text-muted: oklch(0.76 0.09 142);
  --highlight: oklch(0.5 0.09 142);
  --border: oklch(0.4 0.09 142);
  --border-muted: oklch(0.3 0.09 142);
  --primary: oklch(0.76 0.1 142);
  --secondary: oklch(0.76 0.1 322);
  --danger: oklch(0.7 0.09 30);
  --warning: oklch(0.7 0.09 100);
  --success: oklch(0.7 0.09 160);
  --info: oklch(0.7 0.09 260);
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(113 43% 87%);
  --bg: hsl(113 74% 93%);
  --bg-light: hsl(113 100% 98%);
  --text: hsl(125 100% 2%);
  --text-muted: hsl(115 40% 23%);
  --highlight: hsl(113 100% 95%);
  --border: hsl(114 22% 46%);
  --border-muted: hsl(114 24% 58%);
  --primary: hsl(115 47% 23%);
  --secondary: hsl(292 34% 30%);
  --danger: hsl(8 36% 41%);
  --warning: hsl(52 58% 28%);
  --success: hsl(152 45% 31%);
  --info: hsl(217 38% 43%);
  /* oklch */
  --bg-dark: oklch(0.92 0.045 142);
  --bg: oklch(0.96 0.045 142);
  --bg-light: oklch(1 0.045 142);
  --text: oklch(0.15 0.09 142);
  --text-muted: oklch(0.4 0.09 142);
  --highlight: oklch(1 0.09 142);
  --border: oklch(0.6 0.09 142);
  --border-muted: oklch(0.7 0.09 142);
  --primary: oklch(0.4 0.1 142);
  --secondary: oklch(0.4 0.1 322);
  --danger: oklch(0.5 0.09 30);
  --warning: oklch(0.5 0.09 100);
  --success: oklch(0.5 0.09 160);
  --info: oklch(0.5 0.09 260);
}

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: var(--bg-dark);
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--bg-light);
  text-shadow: none;
}

::selection {
  background: var(--bg-light);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border);
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

.icon-bar-icon {
  height: 1.5rem;
  width: 1.5rem;
}

body{
  background-color: grey;
  color: var(--text);
}

.wrapper{
  inline-size: 100%;
  max-inline-size: min(100% - 4rem, 80rem); /* fluid gutter + cap */
  margin-inline: auto;
  padding: clamp(1rem, 2vw, 2.5rem);
}

.hero{
  margin: auto;
  width: 100% - 4rem;
  height: fit-content;
  background-color: var(--bg);
  display: flex;
}

.hero-txt{
  align-self: flex-start;
  padding: 4rem;
}

.icon-bar {

}



.navbar{
  display: flex;
}

.experience-headers{
  display: flex;
}

.projects{
  display: flex;
}

.technology{
  display: flex;
}

button{
  padding: 1rem;
  border-radius: 10px;
}
.hero-img{
  align-self: flex-end;
  border-radius: 10px;
  height: 100%;
}
